a {
    cursor: pointer;
}

#memo {
    margin: 20px 200px 20px 200px;
    font-size: 24px;
    line-height: 30px;
}

#translate-result {
    margin: 10px;
}

#translate_query_area {
    padding: 10px;
    border: 1px solid #9F9F9F;
}

#translate_query_area:hover {
    border: 1px solid #1E9FFF;
}

#translate-query {
    height: auto;
    border: 0;
    resize: none;
    width: 100%;
    overflow: hidden;
}